DEV = true # enable or disable dev mode
CLI_ACTIVE = true # enable or disable wp-cli
DEV_URL = http://localhost:3000/wp-content/plugins/wp-starter-kit/frontend

PLUGIN_SLUG = wp-starter-kit
PLUGIN_SLUG_PRO = wp-starter-kit-pro
SERVER_VARIABLES = wp_starter_kit_

DEV_SSL = false # enable or disable ssl
DEV_SSL_CERT_PATH = C:/laragon/etc/ssl/laragon.crt # your ssl cert path
DEV_SSL_KEY_PATH = C:/laragon/etc/ssl/laragon.key # your ssl key path

# playwright config
DEV_DOMAIN = http://localhost::3000
WP_USERNAME =
WP_PASSWORD =