<?xml version="1.0"?>
<phpunit
    backupGlobals="false"
    bootstrap="tests/bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    >
    <testsuites>
        <testsuite  name="Unit">
            <directory suffix="Test.php">./tests/</directory>
            <exclude>./tests/__libs</exclude>
            <exclude>./tests/BaseTestCase.php</exclude>
        </testsuite>
    </testsuites>
</phpunit>